body {

  max-width: 1280px;
  margin: 0 auto;
}


#main-container {

  display: grid;
  grid-template-columns: 250px 1fr 250px;
  justify-content: center;

}

#description-container {
  height: 100px;
  text-align: center;
}


.chart {

  max-width: 780px;
}

.font-montserrat {
  font-family: Montserrat;
}

main > * {
  border: 1px solid black;
}

#main-container > * {
  border: 1px solid black;
}

#chart-history-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  overflow-y: scroll;
  max-height: 640px;
}

#chart-history-container > * {
  margin: 10px;
}

#chart-history-container h2 {
  text-align: center;
}

.chart-history-cell {
  height: 100px;
  flex-shrink: 0;
  background-color: maroon;
  position: relative;
}

.chart-descriptor {
  position: absolute;
  bottom: 0;
  color: white;
  padding: 10px;
}

#chart-description {
  margin: 10px;
}